* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-style: normal;
  /* overflow: hidden; */
}
nav {
  /* border: 1px solid black; */
  /* width: 1221.33px; */
  width: 100%;
  height: 64px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  align-items: center;
  background-color: #ffffff;
}

header ul li a {
  font-weight: thin;
  font-size: 14px;
  line-height: 24px;
  color: #565d77;
  margin-top: 5px;
  text-decoration: none;
  font-style: normal;
}

header ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 12px;
}
.con {
  display: flex;
  gap: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: px;
}
.con svg {
  width: 15px;
  height: auto;
}

.con2 {
  width: auto;
  display: none;
  gap: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2px;
  display: none;
}
.con2 p {
  margin: 0;
}
.con2 svg {
  width: 15px;
  height: auto;
}
ul {
  display: flex;
  gap: 0.8em;

  /* display: none; */
  /* margin-left: -110px; */
  /* margin-right: -60px; */
}
button p {
  margin: 0;
  font-size: 16px;
  display: inline;
  margin: 0px 0px 0px 8px;
}

nav button {
  /* border: 2px solid blue; */
  /* width: 87.16px; */
  height: 32px;
  padding: 0;
  border: none;

  border-radius: 20px;
  /* border-top-left-radius: 50%;
 border-bottom-left-radius: 50%; */
  background-color: #981d87;
  color: #fcffff;
  padding: 4px 12px;
  margin-bottom: 5px;
  /* margin-right: px; */
}

.hero-sect {
  /* border: 1px solid red */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  padding: 5px;
  background-color: #fafafa;
}
.hero-sect ul {
  display: flex;
  gap: 1em;
}
.hero-sect ul li a {
  padding-top: 50%;
  text-decoration: none;
  font-weight: thin;
  font-size: 13px;
  line-height: 24px;
  color: #565d77;
  margin-top: 5px;
  text-decoration: un;
  font-style: normal;
  /* display: flex; */
  /* gap: 1em; */
}

.hero-sect ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 12px;
}

.carousel-item {
  cursor: grabbing;
}
.carousel-item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.hero-sect button {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #981d87;
  color: white;
  margin-right: 25px;
}
.both button {
  width: 32px;
  height: 32px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #981d87;
}

.both .one {
  border: 1px solid black;
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 15px;
  border-radius: 50px;
  background-color: #981d87;
  color: white;
}

nav .both {
  display: none;
  gap: 2px;
}

.carousel-item img {
  width: 1631;
  height: 580px;
}

/* .carousel-indcators{
  background-color: orangered;
  border-radius: 50px;
} */

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  background-color: #d3d3d3;
  margin: 0 5px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: orangered;
}

.hero-slide {
  display: flex;
  justify-content: space-around;
  background-image: url(./images/imgi_72_hero-background-NkSVHum_.png);
}

.hero-text {
  /* width: 40%; */
}

.hero-image {
  /* width: 60%; */
}

.hero-image img {
  /* width: 100%; */
}

.second-slide {
  display: flex;
  justify-content: space-evenly;
}

.second-slide1 {
  display: flex;
  background-image: url(./images/bgimg.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.second-slide2 {
  margin: 0px auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(137deg, #b13aac 6.1%, #3b1439 89.9%);
}

.text {
  margin-top: 70px;
  margin-left: 50px;
}
.text h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 59.2px;
  color: #ffffff;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}
.text p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #dfbbd7;
}

.text button {
  color: #dfbbd7;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  width: 145.82px;
  height: 56px;
  border-radius: 50px;
  border: none;
}

.second-slide3 {
  display: flex;
  margin: 0px auto;
  justify-content: space-around;
}

.text2 {
  margin-top: 70px;
  margin-left: 50px;
}
.text2 h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 59.2px;
  color: #000000;
}

.text2 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #981d87;
}

.text2 button {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #981d87;
  /* width: 216.; */
  height: 56px;
  border-radius: 50px;
  border: none;
  padding: 5px;
}

.second-slide4 {
  display: flex;
  margin: 0px auto;
  justify-content: space-around;
  background-image: linear-gradient(to right, #ff6cb1, #c60b22, #c60b22);
  background-repeat: no-repeat;
  background-size: cover;
}

.text3 {
  margin-top: 120px;
  margin-left: 50px;
}
.text3 h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 59.2px;
  color: white;
}

.text3 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #981d87;
}

.text3 button {
  color: #981d87;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  width: 145.82px;
  height: 56px;
  border-radius: 50px;
  border: none;
  padding: 5px;
  position: relative;
  z-index: 10;
}

.text3 button:hover {
  transition: ease-in-out 1s;
  color: white;
  background-color: #981d87;
  transform: scaleX(10px);
  border: 1px solid white;
}

.second-slide4 {
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, #ff6cb1, #c60b22, #c60b22);
  background-repeat: no-repeat;
  background-size: cover;
}

.text3 {
  margin-top: 120px;
  margin-left: 50px;
}
.text3 h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 59.2px;
  color: white;
}

.text3 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #981d87;
}

.text3 button {
  color: #981d87;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  width: 145.82px;
  height: 56px;
  border-radius: 50px;
  border: none;
  padding: 5px;
  position: relative;
  z-index: 10;
}

.text3 button:hover {
  transition: ease-in-out 1s;
  color: white;
  background-color: #981d87;
  transform: scaleX(10px);
  border: 1px solid white;
}

.second-slide5 {
  display: flex;
  margin: 0px auto;
  justify-content: space-around;
  background-image: linear-gradient(to right, #3be9ac, #8b33bc, #8b33bc);
  background-repeat: no-repeat;
  background-size: cover;
}

.text4 {
  margin-top: 120px;
  margin-left: 50px;
}
.text4 h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 59.2px;
  color: white;
}

.text4 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.text4 button {
  color: #981d87;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  width: 145.82px;
  height: 56px;
  border-radius: 50px;
  border: none;
  padding: 5px;
  position: relative;
  z-index: 10;
}

.text4 button:hover {
  transition: ease-in-out 1s;
  color: white;
  background-color: #8b33bc;
  transform: scaleX(10px);
  border: 1px solid white;
}

.second-slide6 {
  display: flex;
  gap: 10px;
  margin: 0px auto;
  justify-content: space-around;
  background-image: linear-gradient(to right, #83348f, #622668, #622668);
  background-repeat: no-repeat;
  background-size: cover;
}

.text5 {
  margin-top: 160px;
  margin-left: 50px;
}
.text5 h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 59.2px;
  color: white;
}

.text5 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.text5 button {
  color: #981d87;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  width: 145.82px;
  height: 56px;
  border-radius: 50px;
  border: none;
  padding: 5px;
  position: relative;
  z-index: 10;
}

.text5 button:hover {
  transition: ease-in-out 1s;
  color: white;
  background-color: #8b33bc;
  transform: scaleX(10px);
  border: 1px solid white;
}

.second-slide7 {
  margin: 0px auto;
  justify-content: space-around;
  display: flex;
  /* gap: 10px; */
  background-color: #d4d4d4;
}

.text6 {
  margin-top: 160px;
  margin-left: 50px;
}
.text6 h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 59.2px;
  color: #2e323d;
}

.text6 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #435e72;
}

.text6 button {
  color: white;
  background-color: #981d87;
  width: 145.82px;
  height: 56px;
  border-radius: 50px;
  border: none;
  padding: 5px;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease-in-out; /* ✅ here */
}

.text6 button:hover {
  color: #981d87;
  background-color: white;
  transform: scale(1.05); /* ✅ fixed */
  border: 1px solid white;
}

.drey {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #981d87;
  overflow: hidden;
  padding: 0;
}

.news {
  display: inline-block;
  background-color: #ec49de;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 0;
  flex-shrink: 0;
}

.plug {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  padding-left: 20px;
}

.plug span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.sectt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 1em;
}

section .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 30px;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section .cards a {
  text-decoration: none;
}
section .cards a p {
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
  font-size: 14px;
  color: #858a8b;
  text-align: center;
  text-decoration: none;
}

section .cards img {
  width: 100%;
  max-width: 56px;
  height: auto;
}

section .part2 {
  display: none;
  /* gap: 40em;
  border: none;
  padding: 10px ;
  border-bottom: 1px dotted black; */
}

.word {
  display: none;
}
.fa-angle-down {
  display: none;
}

@keyframes Move {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

section .cards:hover {
  animation: Move 3s infinite;
  transition: 3s ease-in-out;
}

section .okay {
  padding: 0px 32px;
  display: flex;
  justify-content: space-around;
}
section .okay img {
  height: 150px;
}
section .okay h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #981d87;
}

section .okay h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
section .okay p {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #737373;
}

.card1 .box {
  width: 300px;
  padding: 20px;
  /* text-align: center; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  background-color: #fdecfc;
  justify-content: space-between;
  /* border: 1px solid black; */
}

@keyframes Box {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.card1 .box:hover {
  animation: Box 1s infinite;
}

.box img {
  /* width: 100%; */
  width: 200px;
  height: 70px;
  object-fit: contain;
  padding-bottom: 10px;
  /* padding-left: 80px; */
}
.box p {
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #737373;
}
.box h4 {
  line-height: 28px;
  font-style: normal;
  font-size: 20px;
  color: black;
}

.box a {
  text-decoration: none;
  font-style: normal;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #8f1f81;
}

.boxes .card1 {
  display: flex;
  justify-content: space-around;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 32px;
}

.dots {
  position: relative;
  /* border: 1px solid black; */
}
.image1 {
  position: absolute;
  top: 0%;
}

.image2 {
  position: absolute;
  right: 0px;
  top: 100px;
}

.image {
  padding-top: 120px;
  padding-left: 80px;
  width: 100%;
  max-width: 384px;
  height: auto;
  padding-top: 60px;
}

.wrapper .message {
  padding: 20px;
  padding-top: 80px;
}

.wrapper .message img {
  width: 100%;
  max-width: 44px;
}

.wrapper .message p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.wrapper .message h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #2e323d;
}

.wrapper .message h6 {
  padding-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #981d87;
}

.wrapper .message button {
  color: white;
  background-color: #981d87;
  width: 145.82px;
  height: 56px;
  border-radius: 50px;
  border: none;
  padding: 5px;
  /* position: relative; */
  /* z-index: 10; */
  transition: all 2s ease-in-out;
}

.wrapper .message button:hover {
  color: #981d87;
  background-color: white;
  transform: scale(1.05); /* ✅ fixed */
  border: 1px solid white;
}

.dots .wrapper {
  display: flex;
  justify-content: space-around;
}

.three-cards .onecard {
  width: 300px;
  /* height: 250px; */
  height: auto;
  padding: 20px;
  /* text-align: center; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@keyframes mike {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.three-cards .onecard:hover {
  animation: mike 1s infinite;
  cursor: pointer;
}

.three-cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.onecard img {
  object-fit: contain;
}
.onecard h4 {
  padding-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.onecard p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
}

.thatleft {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

.thatleft h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #d1d5db;
}

.thatleft p {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
}

.thatleft h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.mine {
  display: flex;
  gap: 30px;
}

.stats .contone {
  font-style: normal;
  font-size: 24px;
  line-height: 20px;
  color: #ec49de;
}

.stats .contt {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.dan {
  margin: 30px;
  padding: 20px;
  background-image: url(./images/imgi_74_background.png);
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  min-height: 300%;
}
.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
  gap: 10px 40px;
}

/* sect{
  margin: 20px auto;
  display: flex  ;
 gap: ;
} */
.post {
  /* border: 1px solid black; */
  margin-top: 50px;
  width: 100%;
  max-width: 450px;
  height: 350px;
  position: relative;
}

.post .imag1 {
  width: 222px;
  height: 260px;
  position: absolute;
  top: 0;
  border: 2px solid black;
}

.post .imag2 {
  position: absolute;
  bottom: 0;
  width: 222px;
  height: 80.5px;

  border: 2px solid black;
}

.post .imag3 {
  /* padding-top: 20px; */
  width: 222px;

  position: absolute;
  top: 0;
  right: 0%;
  border: 2px solid black;
}
.post .imag4 {
  position: absolute;
  width: 222px;
  height: 270.5px;
  bottom: 0;
  right: 0;
  border: 2px solid black;
}

.wrapperd {
  /* border: 1px solid black; */
  width: 80%;
  margin: 20px auto;
  display: flex;
}
.wrapperd .messaged {
  padding: 20px;
  padding-top: 80px;
}

.wrapperd .messaged img {
  width: 100%;
  max-width: 44px;
}

.wrapperd .messaged p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.wrapperd .messaged h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #2e323d;
}

.wrapperd .messaged h6 {
  padding-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #981d87;
}

.wrapperd .messaged button {
  color: white;
  background-color: #981d87;
  width: 145.82px;
  height: 56px;
  border-radius: 50px;
  border: none;
  padding: 5px;
  /* position: relative; */
  /* z-index: 10; */
  transition: all 2s ease-in-out;
}

.wrapperd .messaged button:hover {
  color: #981d87;
  background-color: white;
  transform: scale(1.05); /* ✅ fixed */
  border: 1px solid white;
}

.hmm {
  width: 90%;
  margin: 20px auto;
}
.hmm p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #2e323d;
}
.hmm h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #981d87;
}
.hmm h4 {
  padding-top: 30px;

  font-size: 20px;
  line-height: 28px;
}
.hmm .carded {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  /* scroll-behavior: smooth; */
}

.hmm .carded .innerboxes {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  border: 1px solid black;
  max-width: 350px;
  /* width:100%; */
  flex-shrink: 0;
}

.big h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #981d87;
}

.big h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #2e323d;
}

.big {
  width: 90%;
  margin: 30px auto;
}
.dawg {
  justify-content: space-around;
  display: flex;
  /* border: 1px solid black; */
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dawg .textss {
  margin-top: 70px;
  width: 100%;
  padding: 30px;
}
.dawg img {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.textss .come button {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #981d87;
  border: none;
}

.textss .come span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.textss h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  color: #2e323d;
}

.textss p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.textss button {
  color: #981d87;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  width: 145.82px;
  height: 56px;
  border-radius: 50px;
  border: none;
  padding: 5px;
  position: relative;
  z-index: 10;
  border: 1px solid black;
}

.textss button:hover {
  transition: ease-in-out 1s;
  color: white;
  background-color: #981d87;
  transform: scaleX(10px);
  border: 1px solid white;
}

.tap {
  margin: 10px auto;
  /* margin-left: 10px; */
  display: flex;
  width: 80%;
  /* justify-content: space-around; */
  gap: 10px;
}

.come .butt {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #981d87;
  border: none;
}

.connect1 {
  display: flex;
  flex-direction: column;
  width: 100%; /* ✅ force full width of column */
  max-width: 320px; /* ❌ remove restriction */
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  box-sizing: border-box;
}

.connect1 .come span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.connect1 h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #2e323d;
}

.connect1 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.connect1 button {
  color: #981d87;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  width: 145.82px;
  height: 56px;
  border-radius: 50px;
  border: none;
  padding: 5px;
  position: relative;
  z-index: 10;
  border: 1px solid black;
}

.connect1 button:hover {
  transition: ease-in-out 1s;
  color: white;
  background-color: #981d87;
  transform: scaleX(10px);
  border: 1px solid white;
}

.connect1 img {
  width: 276px;
  height: 300px;
  padding-left: 20px;
}

.mariam .dwag {
  display: none;
}

.small h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #981d87;
}

.small h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #2e323d;
}

.small {
  width: 90%;
  margin: 30px auto;
}
.vidcon {
  padding: 10px;
  /* border: 1px solid black; */
  text-align: center;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.foot {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.line {
  /* display: flex; */
  flex-direction: column;
}

.mad ul,
.mad ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mad a {
  display: block !important; /* force block */
  width: 100%;
  background-color: #f0f0f0; /* visual check */
  padding: 5px;
}
/* MEDIA QUERIES */

@media (max-width: 1280px) {
  .con {
    display: none;
  }
  .con2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    padding: 6px 12px;
    height: auto;
    width: auto;

    white-space: nowrap;
  }
  .hero-sect {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 1024px) {
  .tap {
    margin-left: 10px;
  }
  .dots .dot2 {
    display: flex;
    width: 100%;
    border: 1px solid red;
  }
  .thatleft {
    width: 80%;
    height: 200px;
  }
  .thatleft img {
    width: 200px;
    height: auto;
  }

  .three-cards .onecard {
    width: 200px;
    height: auto;
  }

  .card1 {
    display: flex;
  }
  .card1 .box {
    width: 230px;
  }
  section .okay img {
    width: 100%;
    max-width: 200px;
  }

  section .okay p {
    font-size: 10px;
  }
  .con2 {
    display: flex;
  }
  .con2 p {
    font-size: 12px;
  }
  nav .both {
    display: flex;
  }
  nav ul {
    display: none;
  }

  nav .join {
    display: flex;
    gap: 2px;
  }
  .hero-sect {
    display: none;
  }
  .hero-slide {
    flex-direction: column;
  }

  .second-slide {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second-slide1 {
    flex-direction: column;
    align-items: center;
  }
  .second-slide2 {
    flex-direction: column;
    align-items: center;
  }
  .second-slide3 {
    flex-direction: column;
    align-items: center;
  }
  .second-slide4 {
    flex-direction: column;
    align-items: center;
  }
  .second-slide5 {
    flex-direction: column;
    align-items: center;
  }
  .second-slide6 {
    flex-direction: column;
    align-items: center;
  }
  .second-slide7 {
    flex-direction: column;
    align-items: center;
  }
  nav {
    justify-content: space-between;
    /* border: 1px solid black; */
    /* padding: 0; */
  }

  nav a img {
    width: 120px;
    height: 32px;
  }

  section .cards {
    gap: 3px;
  }
  section .cards img {
    width: 100%;
    max-width: 40px;
    height: auto;
  }
  section .cards a p {
    font-style: normal;
    line-height: 16px;
    font-weight: 500;
    font-size: 8px;
    color: #858a8b;
    text-align: center;
    text-decoration: none;
  }

  .post {
    width: 100%;
    max-width: 265px;
  }
  .post .imag1 {
    width: 130px;
    height: 200px;
  }

  .post .imag2 {
    width: 130px;
    bottom: 17%;
  }
  .post .imag3 {
    width: 130px;
    height: 80px;
  }
  .post .imag4 {
    width: 130px;
    height: 200px;
    bottom: 17%;
  }

  .wrapperd .messaged h2 {
    font-size: 14px;
  }
  .wrapperd {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .tap {
    width: 100% auto;
    flex-direction: column; /* ✅ full section width */
    margin-left: 10%;
    gap: 10px;
  }

  .connect1 button {
    height: auto;
  }

  .connect1 {
    width: 100%; /* ✅ full width */
    max-width: 100%; /* ✅ prevents shrinking */
    margin: 0;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
  }

  .connect1 img {
    width: 200px;
    height: 200px;
  }

  .dawg {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dawg img {
    width: 250px;
  }

  .dawg .textss {
    margin-top: 10px;
  }
  .post {
    margin-left: 10px;
  }
  .wrapperd {
    padding: 10px;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }
  .thatleft {
    display: flex;
    flex-direction: column;
  }

  .thatleft img {
    width: 100%;
    max-width: 500px;
  }

  .three-cards .onecard {
    width: 100%;
    height: auto;
  }

  .three-cards {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .image1 {
    display: none;
  }
  .dots .wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .wrapper img {
    width: 100%;
    padding-left: 12px;
  }
  .boxes {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 40px;
  }
  .boxes .card1 {
    gap: 40px;
  }
  section .okay img {
    display: none;
  }
  section .okay p {
    font-size: 12px;
  }

  section .okay {
    justify-content: center;
    align-items: center;
  }
  section .part2 {
    display: flex;
  }
  section .cards {
    display: none;
  }
  .sectt {
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .word {
    display: block;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    font-size: 16px;
    color: #4d5051;
  }
  .fa-angle-down {
    display: block;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .con2 {
    display: none;
  }

  /* nav .join {
    display: none;
  }
  nav .both{
    display: flex;
  } */
}
